<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>palidrome.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3D0E969D1D0A62C100F4CF1E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3D0E96B61D0A62C100F4CF1E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3D0E96C11D0A62C100F4CF1E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
